<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 5 - 1</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>aunt</string>
			<key>pinyin</key>
			<string>yí mā</string>
			<key>hanzi</key>
			<string>姨妈</string>
		</dict>
		<dict>
			<key>english</key>
			<string>often</string>
			<key>pinyin</key>
			<string>jīng cháng</string>
			<key>hanzi</key>
			<string>经常</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to swim</string>
			<key>pinyin</key>
			<string>yóu yǒng</string>
			<key>hanzi</key>
			<string>游泳</string>
		</dict>
		<dict>
			<key>english</key>
			<string>summer</string>
			<key>pinyin</key>
			<string>xià tiān</string>
			<key>hanzi</key>
			<string>夏天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>cousin</string>
			<key>pinyin</key>
			<string>biǎo gē</string>
			<key>hanzi</key>
			<string>表哥</string>
		</dict>
		<dict>
			<key>english</key>
			<string>hardworking</string>
			<key>pinyin</key>
			<string>qín lì</string>
			<key>hanzi</key>
			<string>勤力</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to play ball games</string>
			<key>pinyin</key>
			<string>dǎ qiú</string>
			<key>hanzi</key>
			<string>打球</string>
		</dict>
		<dict>
			<key>english</key>
			<string>homework</string>
			<key>pinyin</key>
			<string>gōng kè</string>
			<key>hanzi</key>
			<string>功课</string>
		</dict>
		<dict>
			<key>english</key>
			<string>serious</string>
			<key>pinyin</key>
			<string>rèn zhēn</string>
			<key>hanzi</key>
			<string>认真</string>
		</dict>
		<dict>
			<key>english</key>
			<string>already</string>
			<key>pinyin</key>
			<string>yǐ jīng</string>
			<key>hanzi</key>
			<string>已经</string>
		</dict>
	</array>
</dict>
</plist>
