<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 5 - 6</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>river</string>
			<key>pinyin</key>
			<string>hé</string>
			<key>hanzi</key>
			<string>河</string>
		</dict>
		<dict>
			<key>english</key>
			<string>hospital</string>
			<key>pinyin</key>
			<string>yī yuàn</string>
			<key>hanzi</key>
			<string>医院</string>
		</dict>
		<dict>
			<key>english</key>
			<string>clean</string>
			<key>pinyin</key>
			<string>qīng jié</string>
			<key>hanzi</key>
			<string>清洁</string>
		</dict>
		<dict>
			<key>english</key>
			<string>should</string>
			<key>pinyin</key>
			<string>yīng gāi</string>
			<key>hanzi</key>
			<string>应该</string>
		</dict>
		<dict>
			<key>english</key>
			<string>uncle</string>
			<key>pinyin</key>
			<string>shū shū</string>
			<key>hanzi</key>
			<string>叔叔</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bustling</string>
			<key>pinyin</key>
			<string>rè nào</string>
			<key>hanzi</key>
			<string>热闹</string>
		</dict>
		<dict>
			<key>english</key>
			<string>cinema</string>
			<key>pinyin</key>
			<string>xì yuàn</string>
			<key>hanzi</key>
			<string>戏院</string>
		</dict>
		<dict>
			<key>english</key>
			<string>shop</string>
			<key>pinyin</key>
			<string>jiā diàn</string>
			<key>hanzi</key>
			<string>家店</string>
		</dict>
		<dict>
			<key>english</key>
			<string>shoes</string>
			<key>pinyin</key>
			<string>xié zi</string>
			<key>hanzi</key>
			<string>鞋子</string>
			<key>New item</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
