<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 1</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>at, in</string>
			<key>pinyin</key>
			<string>zài</string>
			<key>hanzi</key>
			<string>在</string>
		</dict>
		<dict>
			<key>english</key>
			<string>mountain</string>
			<key>pinyin</key>
			<string>shān</string>
			<key>hanzi</key>
			<string>山</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to have</string>
			<key>pinyin</key>
			<string>yǒu</string>
			<key>hanzi</key>
			<string>有</string>
		</dict>
		<dict>
			<key>english</key>
			<string>hand</string>
			<key>pinyin</key>
			<string>shǒu</string>
			<key>hanzi</key>
			<string>手</string>
		</dict>
		<dict>
			<key>english</key>
			<string>animals/body parts meassure word</string>
			<key>pinyin</key>
			<string>zhī</string>
			<key>hanzi</key>
			<string>只</string>
		</dict>
		<dict>
			<key>english</key>
			<string>child</string>
			<key>pinyin</key>
			<string>xiǎo hái</string>
			<key>hanzi</key>
			<string>小孩</string>
		</dict>
		<dict>
			<key>english</key>
			<string>finger</string>
			<key>pinyin</key>
			<string>shǒu zhǐ</string>
			<key>hanzi</key>
			<string>手指</string>
		</dict>
		<dict>
			<key>english</key>
			<string>counter</string>
			<key>pinyin</key>
			<string>dì</string>
			<key>hanzi</key>
			<string>第</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to come</string>
			<key>pinyin</key>
			<string>lái</string>
			<key>hanzi</key>
			<string>来</string>
		</dict>
		<dict>
			<key>english</key>
			<string>home</string>
			<key>pinyin</key>
			<string>jiā</string>
			<key>hanzi</key>
			<string>家</string>
		</dict>
		<dict>
			<key>english</key>
			<string>de particle</string>
			<key>pinyin</key>
			<string>de</string>
			<key>hanzi</key>
			<string>的</string>
		</dict>
		<dict>
			<key>english</key>
			<string>high</string>
			<key>pinyin</key>
			<string>gāo</string>
			<key>hanzi</key>
			<string>高</string>
		</dict>
		<dict>
			<key>english</key>
			<string>mum</string>
			<key>pinyin</key>
			<string>mā ma</string>
			<key>hanzi</key>
			<string>妈妈</string>
		</dict>
		<dict>
			<key>english</key>
			<string>dad</string>
			<key>pinyin</key>
			<string>bā ba</string>
			<key>hanzi</key>
			<string>爸爸</string>
		</dict>
		<dict>
			<key>english</key>
			<string>friend</string>
			<key>pinyin</key>
			<string>péng yǒu</string>
			<key>hanzi</key>
			<string>朋友</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bird</string>
			<key>pinyin</key>
			<string>niǎo</string>
			<key>hanzi</key>
			<string>鸟</string>
		</dict>
		<dict>
			<key>english</key>
			<string>ground</string>
			<key>pinyin</key>
			<string>dì</string>
			<key>hanzi</key>
			<string>地</string>
		</dict>
		<dict>
			<key>english</key>
			<string>flower</string>
			<key>pinyin</key>
			<string>huā</string>
			<key>hanzi</key>
			<string>花</string>
		</dict>
		<dict>
			<key>english</key>
			<string>flower/cloud meassure word</string>
			<key>pinyin</key>
			<string>duǒ</string>
			<key>hanzi</key>
			<string>朵</string>
		</dict>
	</array>
</dict>
</plist>
