<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 4 - 2</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>to remember</string>
			<key>pinyin</key>
			<string>jì</string>
			<key>hanzi</key>
			<string>记</string>
		</dict>
		<dict>
			<key>english</key>
			<string>coat</string>
			<key>pinyin</key>
			<string>dà yī</string>
			<key>hanzi</key>
			<string>大衣</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bear in mind</string>
			<key>pinyin</key>
			<string>jì zhù</string>
			<key>hanzi</key>
			<string>记住</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bee</string>
			<key>pinyin</key>
			<string>mì fēng</string>
			<key>hanzi</key>
			<string>蜜蜂</string>
		</dict>
		<dict>
			<key>english</key>
			<string>can&apos;t</string>
			<key>pinyin</key>
			<string>bù xíng</string>
			<key>hanzi</key>
			<string>不行</string>
		</dict>
		<dict>
			<key>english</key>
			<string>sparrow</string>
			<key>pinyin</key>
			<string>què</string>
			<key>hanzi</key>
			<string>雀</string>
		</dict>
		<dict>
			<key>english</key>
			<string>monkey</string>
			<key>pinyin</key>
			<string>hóu zi</string>
			<key>hanzi</key>
			<string>猴子</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to fall</string>
			<key>pinyin</key>
			<string>luò</string>
			<key>hanzi</key>
			<string>落</string>
		</dict>
		<dict>
			<key>english</key>
			<string>la particle</string>
			<key>pinyin</key>
			<string>lā</string>
			<key>hanzi</key>
			<string>啦</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to rescue</string>
			<key>pinyin</key>
			<string>jiù</string>
			<key>hanzi</key>
			<string>救</string>
		</dict>
		<dict>
			<key>english</key>
			<string>belly</string>
			<key>pinyin</key>
			<string>dù zi</string>
			<key>hanzi</key>
			<string>肚子</string>
		</dict>
		<dict>
			<key>english</key>
			<string>full</string>
			<key>pinyin</key>
			<string>mǎn</string>
			<key>hanzi</key>
			<string>满</string>
		</dict>
		<dict>
			<key>english</key>
			<string>times</string>
			<key>pinyin</key>
			<string>cì</string>
			<key>hanzi</key>
			<string>次</string>
		</dict>
		<dict>
			<key>english</key>
			<string>wolf</string>
			<key>pinyin</key>
			<string>láng</string>
			<key>hanzi</key>
			<string>狼</string>
		</dict>
		<dict>
			<key>english</key>
			<string>all</string>
			<key>pinyin</key>
			<string>suǒ yǒu</string>
			<key>hanzi</key>
			<string>所有</string>
		</dict>
		<dict>
			<key>english</key>
			<string>kind/type</string>
			<key>pinyin</key>
			<string>yàng</string>
			<key>hanzi</key>
			<string>样</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to read</string>
			<key>pinyin</key>
			<string>dú</string>
			<key>hanzi</key>
			<string>读</string>
		</dict>
		<dict>
			<key>english</key>
			<string>story</string>
			<key>pinyin</key>
			<string>gù shì</string>
			<key>hanzi</key>
			<string>故事</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to wait</string>
			<key>pinyin</key>
			<string>děng</string>
			<key>hanzi</key>
			<string>等</string>
		</dict>
		<dict>
			<key>english</key>
			<string>finally</string>
			<key>pinyin</key>
			<string>zhōng yú</string>
			<key>hanzi</key>
			<string>终于</string>
		</dict>
		<dict>
			<key>english</key>
			<string>winter</string>
			<key>pinyin</key>
			<string>dōng tiān</string>
			<key>hanzi</key>
			<string>冬天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>snow</string>
			<key>pinyin</key>
			<string>xuě</string>
			<key>hanzi</key>
			<string>雪</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to write</string>
			<key>pinyin</key>
			<string>xiě</string>
			<key>hanzi</key>
			<string>写</string>
		</dict>
		<dict>
			<key>english</key>
			<string>how</string>
			<key>pinyin</key>
			<string>zěn yàng</string>
			<key>hanzi</key>
			<string>怎样</string>
		</dict>
		<dict>
			<key>english</key>
			<string>should</string>
			<key>pinyin</key>
			<string>yīng gāi</string>
			<key>hanzi</key>
			<string>应该</string>
		</dict>
		<dict>
			<key>english</key>
			<string>everywhere</string>
			<key>pinyin</key>
			<string>dào chú</string>
			<key>hanzi</key>
			<string>到处</string>
		</dict>
	</array>
</dict>
</plist>
