<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 3.1 - 1</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>cow</string>
			<key>pinyin</key>
			<string>niú</string>
			<key>hanzi</key>
			<string>牛</string>
		</dict>
		<dict>
			<key>english</key>
			<string>head/animals meassure word</string>
			<key>pinyin</key>
			<string>tóu</string>
			<key>hanzi</key>
			<string>头</string>
		</dict>
		<dict>
			<key>english</key>
			<string>the fields</string>
			<key>pinyin</key>
			<string>tián lǐ</string>
			<key>hanzi</key>
			<string>田里</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to eat</string>
			<key>pinyin</key>
			<string>chī</string>
			<key>hanzi</key>
			<string>吃</string>
		</dict>
		<dict>
			<key>english</key>
			<string>grass</string>
			<key>pinyin</key>
			<string>cǎo</string>
			<key>hanzi</key>
			<string>草</string>
		</dict>
		<dict>
			<key>english</key>
			<string>spring</string>
			<key>pinyin</key>
			<string>chūn tiān</string>
			<key>hanzi</key>
			<string>春天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>busy</string>
			<key>pinyin</key>
			<string>máng</string>
			<key>hanzi</key>
			<string>忙</string>
		</dict>
		<dict>
			<key>english</key>
			<string>strength</string>
			<key>pinyin</key>
			<string>lì qi</string>
			<key>hanzi</key>
			<string>力气</string>
		</dict>
		<dict>
			<key>english</key>
			<string>useful</string>
			<key>pinyin</key>
			<string>yǒu yòng</string>
			<key>hanzi</key>
			<string>有用</string>
		</dict>
		<dict>
			<key>english</key>
			<string>milk</string>
			<key>pinyin</key>
			<string>niú nǎi</string>
			<key>hanzi</key>
			<string>牛奶</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to drink</string>
			<key>pinyin</key>
			<string>hē</string>
			<key>hanzi</key>
			<string>喝</string>
		</dict>
		<dict>
			<key>english</key>
			<string>white color</string>
			<key>pinyin</key>
			<string>bái sè</string>
			<key>hanzi</key>
			<string>白色</string>
		</dict>
		<dict>
			<key>english</key>
			<string>very</string>
			<key>pinyin</key>
			<string>zhēn</string>
			<key>hanzi</key>
			<string>真</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to let/allow</string>
			<key>pinyin</key>
			<string>ràng</string>
			<key>hanzi</key>
			<string>让</string>
		</dict>
		<dict>
			<key>english</key>
			<string>light/empty</string>
			<key>pinyin</key>
			<string>guāng</string>
			<key>hanzi</key>
			<string>光</string>
		</dict>
		<dict>
			<key>english</key>
			<string>face</string>
			<key>pinyin</key>
			<string>liǎn</string>
			<key>hanzi</key>
			<string>脸</string>
		</dict>
		<dict>
			<key>english</key>
			<string>whole</string>
			<key>pinyin</key>
			<string>dōu</string>
			<key>hanzi</key>
			<string>都</string>
		</dict>
		<dict>
			<key>english</key>
			<string>can</string>
			<key>pinyin</key>
			<string>kě yǐ</string>
			<key>hanzi</key>
			<string>可以</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to make</string>
			<key>pinyin</key>
			<string>zuò chéng</string>
			<key>hanzi</key>
			<string>做成</string>
		</dict>
		<dict>
			<key>english</key>
			<string>thing</string>
			<key>pinyin</key>
			<string>dōng xī</string>
			<key>hanzi</key>
			<string>东西</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to work</string>
			<key>pinyin</key>
			<string>zuò gōng</string>
			<key>hanzi</key>
			<string>做工</string>
		</dict>
		<dict>
			<key>english</key>
			<string>frog</string>
			<key>pinyin</key>
			<string>qīng wā</string>
			<key>hanzi</key>
			<string>青蛙</string>
		</dict>
		<dict>
			<key>english</key>
			<string>butterfly</string>
			<key>pinyin</key>
			<string>hú dié</string>
			<key>hanzi</key>
			<string>蝴蝶</string>
		</dict>
		<dict>
			<key>english</key>
			<string>by car</string>
			<key>pinyin</key>
			<string>zuò chē</string>
			<key>hanzi</key>
			<string>坐车</string>
		</dict>
		<dict>
			<key>english</key>
			<string>still/yet</string>
			<key>pinyin</key>
			<string>hái</string>
			<key>hanzi</key>
			<string>还</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bright</string>
			<key>pinyin</key>
			<string>liàng</string>
			<key>hanzi</key>
			<string>亮</string>
		</dict>
		<dict>
			<key>english</key>
			<string>not</string>
			<key>pinyin</key>
			<string>méi</string>
			<key>hanzi</key>
			<string>没</string>
		</dict>
		<dict>
			<key>english</key>
			<string>farmer</string>
			<key>pinyin</key>
			<string>nóng rén</string>
			<key>hanzi</key>
			<string>农人</string>
		</dict>
		<dict>
			<key>english</key>
			<string>already</string>
			<key>pinyin</key>
			<string>jiù dào</string>
			<key>hanzi</key>
			<string>就到</string>
		</dict>
		<dict>
			<key>english</key>
			<string>out</string>
			<key>pinyin</key>
			<string>chū</string>
			<key>hanzi</key>
			<string>出</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to play</string>
			<key>pinyin</key>
			<string>wán</string>
			<key>hanzi</key>
			<string>玩</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to go</string>
			<key>pinyin</key>
			<string>dào</string>
			<key>hanzi</key>
			<string>到</string>
		</dict>
		<dict>
			<key>english</key>
			<string>outside</string>
			<key>pinyin</key>
			<string>wài miàn</string>
			<key>hanzi</key>
			<string>外面</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to cross</string>
			<key>pinyin</key>
			<string>guò</string>
			<key>hanzi</key>
			<string>过</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bridge</string>
			<key>pinyin</key>
			<string>qiáo</string>
			<key>hanzi</key>
			<string>桥</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to see</string>
			<key>pinyin</key>
			<string>kàn jiàn</string>
			<key>hanzi</key>
			<string>看见</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to give</string>
			<key>pinyin</key>
			<string>gěi</string>
			<key>hanzi</key>
			<string>给</string>
		</dict>
	</array>
</dict>
</plist>
