<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 3.2</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>each</string>
			<key>pinyin</key>
			<string>měi</string>
			<key>hanzi</key>
			<string>每</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to get up</string>
			<key>pinyin</key>
			<string>qǐ lái</string>
			<key>hanzi</key>
			<string>起来</string>
		</dict>
		<dict>
			<key>english</key>
			<string>house meassure word</string>
			<key>pinyin</key>
			<string>jiān</string>
			<key>hanzi</key>
			<string>间</string>
		</dict>
		<dict>
			<key>english</key>
			<string>teacher</string>
			<key>pinyin</key>
			<string>lǎo shī</string>
			<key>hanzi</key>
			<string>老师</string>
		</dict>
		<dict>
			<key>english</key>
			<string>where/which</string>
			<key>pinyin</key>
			<string>nǎ</string>
			<key>hanzi</key>
			<string>哪</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to think</string>
			<key>pinyin</key>
			<string>xiǎng</string>
			<key>hanzi</key>
			<string>想</string>
		</dict>
		<dict>
			<key>english</key>
			<string>tail</string>
			<key>pinyin</key>
			<string>wěi ba</string>
			<key>hanzi</key>
			<string>尾巴</string>
		</dict>
		<dict>
			<key>english</key>
			<string>after</string>
			<key>pinyin</key>
			<string>yǐ hòu</string>
			<key>hanzi</key>
			<string>以后</string>
		</dict>
		<dict>
			<key>english</key>
			<string>happy</string>
			<key>pinyin</key>
			<string>gāo xìng</string>
			<key>hanzi</key>
			<string>高兴</string>
		</dict>
		<dict>
			<key>english</key>
			<string>cat</string>
			<key>pinyin</key>
			<string>māo</string>
			<key>hanzi</key>
			<string>猫</string>
		</dict>
		<dict>
			<key>english</key>
			<string>also</string>
			<key>pinyin</key>
			<string>yòu</string>
			<key>hanzi</key>
			<string>又</string>
		</dict>
		<dict>
			<key>english</key>
			<string>rooster</string>
			<key>pinyin</key>
			<string>gōng jī</string>
			<key>hanzi</key>
			<string>公鸡</string>
		</dict>
		<dict>
			<key>english</key>
			<string>beautiful</string>
			<key>pinyin</key>
			<string>měi lì</string>
			<key>hanzi</key>
			<string>美丽</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to walk</string>
			<key>pinyin</key>
			<string>zǒu lù</string>
			<key>hanzi</key>
			<string>走路</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to speak</string>
			<key>pinyin</key>
			<string>shuō huà</string>
			<key>hanzi</key>
			<string>说话</string>
		</dict>
		<dict>
			<key>english</key>
			<string>doll</string>
			<key>pinyin</key>
			<string>wá wa</string>
			<key>hanzi</key>
			<string>娃娃</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to look</string>
			<key>pinyin</key>
			<string>yàng zi</string>
			<key>hanzi</key>
			<string>样子</string>
		</dict>
		<dict>
			<key>english</key>
			<string>beautiful</string>
			<key>pinyin</key>
			<string>piào liàng</string>
			<key>hanzi</key>
			<string>漂亮</string>
		</dict>
		<dict>
			<key>english</key>
			<string>round</string>
			<key>pinyin</key>
			<string>yuán</string>
			<key>hanzi</key>
			<string>圆</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to laugh/smile</string>
			<key>pinyin</key>
			<string>xiào</string>
			<key>hanzi</key>
			<string>笑</string>
		</dict>
		<dict>
			<key>english</key>
			<string>angry</string>
			<key>pinyin</key>
			<string>shēng qi</string>
			<key>hanzi</key>
			<string>生气</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to draw</string>
			<key>pinyin</key>
			<string>huā huā</string>
			<key>hanzi</key>
			<string>画画</string>
		</dict>
		<dict>
			<key>english</key>
			<string>room</string>
			<key>pinyin</key>
			<string>fáng jiān</string>
			<key>hanzi</key>
			<string>房间</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to run</string>
			<key>pinyin</key>
			<string>pǎo</string>
			<key>hanzi</key>
			<string>跑</string>
		</dict>
		<dict>
			<key>english</key>
			<string>mouse</string>
			<key>pinyin</key>
			<string>lǎo shǔ</string>
			<key>hanzi</key>
			<string>老鼠</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to catch</string>
			<key>pinyin</key>
			<string>zhuō</string>
			<key>hanzi</key>
			<string>捉</string>
		</dict>
		<dict>
			<key>english</key>
			<string>sky</string>
			<key>pinyin</key>
			<string>tiān kōng</string>
			<key>hanzi</key>
			<string>天空</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to face</string>
			<key>pinyin</key>
			<string>xiàng</string>
			<key>hanzi</key>
			<string>向</string>
		</dict>
		<dict>
			<key>english</key>
			<string>sunlight</string>
			<key>pinyin</key>
			<string>yáng guāng</string>
			<key>hanzi</key>
			<string>阳光</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to shine</string>
			<key>pinyin</key>
			<string>zhào</string>
			<key>hanzi</key>
			<string>照</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to put</string>
			<key>pinyin</key>
			<string>fàng</string>
			<key>hanzi</key>
			<string>放</string>
		</dict>
		<dict>
			<key>english</key>
			<string>mouth</string>
			<key>pinyin</key>
			<string>zuǐ</string>
			<key>hanzi</key>
			<string>嘴</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to count</string>
			<key>pinyin</key>
			<string>shǔ</string>
			<key>hanzi</key>
			<string>数</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to shine</string>
			<key>pinyin</key>
			<string>shǎn</string>
			<key>hanzi</key>
			<string>闪</string>
		</dict>
		<dict>
			<key>english</key>
			<string>ya particle</string>
			<key>pinyin</key>
			<string>ya</string>
			<key>hanzi</key>
			<string>呀</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to sleep</string>
			<key>pinyin</key>
			<string>shuì</string>
			<key>hanzi</key>
			<string>睡</string>
		</dict>
		<dict>
			<key>english</key>
			<string>evening</string>
			<key>pinyin</key>
			<string>wǎn</string>
			<key>hanzi</key>
			<string>晚</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to wash</string>
			<key>pinyin</key>
			<string>xǐ</string>
			<key>hanzi</key>
			<string>洗</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to finish</string>
			<key>pinyin</key>
			<string>wán</string>
			<key>hanzi</key>
			<string>完</string>
		</dict>
		<dict>
			<key>english</key>
			<string>one&apos;s own</string>
			<key>pinyin</key>
			<string>zì jǐ</string>
			<key>hanzi</key>
			<string>自己</string>
		</dict>
		<dict>
			<key>english</key>
			<string>passive voice particle</string>
			<key>pinyin</key>
			<string>bèi</string>
			<key>hanzi</key>
			<string>被</string>
		</dict>
	</array>
</dict>
</plist>
