<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 5 - 5</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>city</string>
			<key>pinyin</key>
			<string>chéng shì</string>
			<key>hanzi</key>
			<string>城市</string>
		</dict>
		<dict>
			<key>english</key>
			<string>thing</string>
			<key>pinyin</key>
			<string>shì wù</string>
			<key>hanzi</key>
			<string>事物</string>
		</dict>
		<dict>
			<key>english</key>
			<string>doctor</string>
			<key>pinyin</key>
			<string>yī shēng</string>
			<key>hanzi</key>
			<string>医生</string>
		</dict>
		<dict>
			<key>english</key>
			<string>patient</string>
			<key>pinyin</key>
			<string>bìng rén</string>
			<key>hanzi</key>
			<string>病人</string>
		</dict>
		<dict>
			<key>english</key>
			<string>uniform</string>
			<key>pinyin</key>
			<string>yī fu</string>
			<key>hanzi</key>
			<string>衣服</string>
		</dict>
		<dict>
			<key>english</key>
			<string>grandfather</string>
			<key>pinyin</key>
			<string>zǔ fù</string>
			<key>hanzi</key>
			<string>祖父</string>
		</dict>
		<dict>
			<key>english</key>
			<string>grandmother</string>
			<key>pinyin</key>
			<string>zǔ mǔ</string>
			<key>hanzi</key>
			<string>祖母</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to live</string>
			<key>pinyin</key>
			<string>zhù</string>
			<key>hanzi</key>
			<string>住</string>
		</dict>
		<dict>
			<key>english</key>
			<string>countryside</string>
			<key>pinyin</key>
			<string>nóng cūn</string>
			<key>hanzi</key>
			<string>农村</string>
		</dict>
		<dict>
			<key>english</key>
			<string>fresh</string>
			<key>pinyin</key>
			<string>qīng xīn</string>
			<key>hanzi</key>
			<string>清新</string>
		</dict>
	</array>
</dict>
</plist>
