<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Basic Chinese 3.1 - 2</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>to bring</string>
			<key>pinyin</key>
			<string>dài</string>
			<key>hanzi</key>
			<string>带</string>
		</dict>
		<dict>
			<key>english</key>
			<string>-ing</string>
			<key>pinyin</key>
			<string>zhe</string>
			<key>hanzi</key>
			<string>着</string>
		</dict>
		<dict>
			<key>english</key>
			<string>little sister</string>
			<key>pinyin</key>
			<string>mèi mei</string>
			<key>hanzi</key>
			<string>妹妹</string>
		</dict>
		<dict>
			<key>english</key>
			<string>fruit</string>
			<key>pinyin</key>
			<string>shuǐ guǒ</string>
			<key>hanzi</key>
			<string>水果</string>
		</dict>
		<dict>
			<key>english</key>
			<string>happy</string>
			<key>pinyin</key>
			<string>kuài lè</string>
			<key>hanzi</key>
			<string>快乐</string>
		</dict>
		<dict>
			<key>english</key>
			<string>rain</string>
			<key>pinyin</key>
			<string>yǔ</string>
			<key>hanzi</key>
			<string>雨</string>
		</dict>
		<dict>
			<key>english</key>
			<string>time/period</string>
			<key>pinyin</key>
			<string>shí hòu</string>
			<key>hanzi</key>
			<string>时候</string>
		</dict>
		<dict>
			<key>english</key>
			<string>wind</string>
			<key>pinyin</key>
			<string>fēng</string>
			<key>hanzi</key>
			<string>风</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to be afraid</string>
			<key>pinyin</key>
			<string>pà</string>
			<key>hanzi</key>
			<string>怕</string>
		</dict>
		<dict>
			<key>english</key>
			<string>simplified Chiense</string>
			<key>pinyin</key>
			<string>jiǎn tǐ zhōng wén</string>
			<key>hanzi</key>
			<string>简体中文</string>
		</dict>
		<dict>
			<key>english</key>
			<string>little brother</string>
			<key>pinyin</key>
			<string>dì di</string>
			<key>hanzi</key>
			<string>弟弟</string>
		</dict>
		<dict>
			<key>english</key>
			<string>correct/kind</string>
			<key>pinyin</key>
			<string>duì</string>
			<key>hanzi</key>
			<string>对</string>
		</dict>
		<dict>
			<key>english</key>
			<string>dog</string>
			<key>pinyin</key>
			<string>gǒu</string>
			<key>hanzi</key>
			<string>狗</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to be able to</string>
			<key>pinyin</key>
			<string>huì</string>
			<key>hanzi</key>
			<string>会</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to hit</string>
			<key>pinyin</key>
			<string>dǎ</string>
			<key>hanzi</key>
			<string>打</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to open</string>
			<key>pinyin</key>
			<string>dǎ kāi</string>
			<key>hanzi</key>
			<string>打开</string>
		</dict>
		<dict>
			<key>english</key>
			<string>door</string>
			<key>pinyin</key>
			<string>mén</string>
			<key>hanzi</key>
			<string>门</string>
		</dict>
		<dict>
			<key>english</key>
			<string>door meassure word</string>
			<key>pinyin</key>
			<string>bǎ</string>
			<key>hanzi</key>
			<string>把</string>
		</dict>
		<dict>
			<key>english</key>
			<string>swallow</string>
			<key>pinyin</key>
			<string>yàn zi</string>
			<key>hanzi</key>
			<string>燕子</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to look for</string>
			<key>pinyin</key>
			<string>zhǎo</string>
			<key>hanzi</key>
			<string>找</string>
		</dict>
		<dict>
			<key>english</key>
			<string>insect</string>
			<key>pinyin</key>
			<string>chóng</string>
			<key>hanzi</key>
			<string>虫</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to fly</string>
			<key>pinyin</key>
			<string>fēi</string>
			<key>hanzi</key>
			<string>飞</string>
		</dict>
		<dict>
			<key>english</key>
			<string>light/gentle</string>
			<key>pinyin</key>
			<string>qīng</string>
			<key>hanzi</key>
			<string>轻</string>
		</dict>
		<dict>
			<key>english</key>
			<string>fast</string>
			<key>pinyin</key>
			<string>kuài</string>
			<key>hanzi</key>
			<string>快</string>
		</dict>
		<dict>
			<key>english</key>
			<string>do not</string>
			<key>pinyin</key>
			<string>bié</string>
			<key>hanzi</key>
			<string>别</string>
		</dict>
		<dict>
			<key>english</key>
			<string>stone</string>
			<key>pinyin</key>
			<string>shí</string>
			<key>hanzi</key>
			<string>石</string>
		</dict>
		<dict>
			<key>english</key>
			<string>road/bridge meassure word</string>
			<key>pinyin</key>
			<string>dào</string>
			<key>hanzi</key>
			<string>道</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to run</string>
			<key>pinyin</key>
			<string>zǒu</string>
			<key>hanzi</key>
			<string>走</string>
		</dict>
		<dict>
			<key>english</key>
			<string>from</string>
			<key>pinyin</key>
			<string>cóng</string>
			<key>hanzi</key>
			<string>从</string>
		</dict>
		<dict>
			<key>english</key>
			<string>side</string>
			<key>pinyin</key>
			<string>biān</string>
			<key>hanzi</key>
			<string>边</string>
		</dict>
		<dict>
			<key>english</key>
			<string>otherside</string>
			<key>pinyin</key>
			<string>duì miàn</string>
			<key>hanzi</key>
			<string>对面</string>
		</dict>
	</array>
</dict>
</plist>
