<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Grammar 1</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>away/distance</string>
			<key>pinyin</key>
			<string>lí</string>
			<key>hanzi</key>
			<string>离</string>
		</dict>
		<dict>
			<key>english</key>
			<string>close</string>
			<key>pinyin</key>
			<string>jìn</string>
			<key>hanzi</key>
			<string>近</string>
		</dict>
		<dict>
			<key>english</key>
			<string>far</string>
			<key>pinyin</key>
			<string>yuǎn</string>
			<key>hanzi</key>
			<string>远</string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
