<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 5</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>up</string>
			<key>pinyin</key>
			<string>shàng</string>
			<key>hanzi</key>
			<string>上</string>
		</dict>
		<dict>
			<key>english</key>
			<string>middle</string>
			<key>pinyin</key>
			<string>zhōng</string>
			<key>hanzi</key>
			<string>中</string>
		</dict>
		<dict>
			<key>english</key>
			<string>down</string>
			<key>pinyin</key>
			<string>xià</string>
			<key>hanzi</key>
			<string>下</string>
		</dict>
		<dict>
			<key>english</key>
			<string>early morning</string>
			<key>pinyin</key>
			<string>zǎo shàng</string>
			<key>hanzi</key>
			<string>早上</string>
		</dict>
		<dict>
			<key>english</key>
			<string>morning</string>
			<key>pinyin</key>
			<string>shàng wǔ</string>
			<key>hanzi</key>
			<string>上午</string>
		</dict>
		<dict>
			<key>english</key>
			<string>noon</string>
			<key>pinyin</key>
			<string>zhōng wǔ</string>
			<key>hanzi</key>
			<string>中午</string>
		</dict>
		<dict>
			<key>english</key>
			<string>afternoon</string>
			<key>pinyin</key>
			<string>xià wǔ</string>
			<key>hanzi</key>
			<string>下午</string>
		</dict>
		<dict>
			<key>english</key>
			<string>evening</string>
			<key>pinyin</key>
			<string>wǎn shàng</string>
			<key>hanzi</key>
			<string>晚上</string>
		</dict>
		<dict>
			<key>english</key>
			<string>what time?</string>
			<key>pinyin</key>
			<string>jǐ diǎn</string>
			<key>hanzi</key>
			<string>几点</string>
		</dict>
		<dict>
			<key>english</key>
			<string>start classes</string>
			<key>pinyin</key>
			<string>shàng kè</string>
			<key>hanzi</key>
			<string>上课</string>
		</dict>
		<dict>
			<key>english</key>
			<string>finish classes</string>
			<key>pinyin</key>
			<string>xià kè</string>
			<key>hanzi</key>
			<string>下课</string>
		</dict>
		<dict>
			<key>english</key>
			<string>return home</string>
			<key>pinyin</key>
			<string>huí jiā</string>
			<key>hanzi</key>
			<string>回家</string>
		</dict>
		<dict>
			<key>english</key>
			<string>start work</string>
			<key>pinyin</key>
			<string>shàng bān</string>
			<key>hanzi</key>
			<string>上班</string>
		</dict>
		<dict>
			<key>english</key>
			<string>finish work</string>
			<key>pinyin</key>
			<string>xià bān</string>
			<key>hanzi</key>
			<string>下班</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to eat</string>
			<key>pinyin</key>
			<string>chī</string>
			<key>hanzi</key>
			<string>吃</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to have dinner</string>
			<key>pinyin</key>
			<string>chī wǎn fàn</string>
			<key>hanzi</key>
			<string>吃晚饭</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to go to sleep</string>
			<key>pinyin</key>
			<string>shuì jiào</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>year</string>
			<key>pinyin</key>
			<string>nián</string>
			<key>hanzi</key>
			<string>年</string>
		</dict>
		<dict>
			<key>english</key>
			<string>month</string>
			<key>pinyin</key>
			<string>yuè</string>
			<key>hanzi</key>
			<string>月</string>
		</dict>
		<dict>
			<key>english</key>
			<string>day</string>
			<key>pinyin</key>
			<string>hào</string>
			<key>hanzi</key>
			<string>号</string>
		</dict>
		<dict>
			<key>english</key>
			<string>week</string>
			<key>pinyin</key>
			<string>xīng qī</string>
			<key>hanzi</key>
			<string>星期</string>
		</dict>
		<dict>
			<key>english</key>
			<string>today</string>
			<key>pinyin</key>
			<string>jīn tiān</string>
			<key>hanzi</key>
			<string>今天</string>
		</dict>
	</array>
</dict>
</plist>
