<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 3</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>England</string>
			<key>pinyin</key>
			<string>yīng guó</string>
			<key>hanzi</key>
			<string>英国</string>
		</dict>
		<dict>
			<key>english</key>
			<string>China</string>
			<key>pinyin</key>
			<string>zhōng guó</string>
			<key>hanzi</key>
			<string>中国</string>
		</dict>
		<dict>
			<key>english</key>
			<string>USA</string>
			<key>pinyin</key>
			<string>měi guó</string>
			<key>hanzi</key>
			<string>美国</string>
		</dict>
		<dict>
			<key>english</key>
			<string>France</string>
			<key>pinyin</key>
			<string>fǎ guó</string>
			<key>hanzi</key>
			<string>法国</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Germany</string>
			<key>pinyin</key>
			<string>dé guó</string>
			<key>hanzi</key>
			<string>德国</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Japan</string>
			<key>pinyin</key>
			<string>rì běn</string>
			<key>hanzi</key>
			<string>日本</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Korea</string>
			<key>pinyin</key>
			<string>hán guó</string>
			<key>hanzi</key>
			<string>韩国</string>
		</dict>
		<dict>
			<key>english</key>
			<string>person</string>
			<key>pinyin</key>
			<string>rén</string>
			<key>hanzi</key>
			<string>人</string>
		</dict>
		<dict>
			<key>english</key>
			<string>language</string>
			<key>pinyin</key>
			<string>yǔ</string>
			<key>hanzi</key>
			<string>语</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to speak</string>
			<key>pinyin</key>
			<string>shuō</string>
			<key>hanzi</key>
			<string>说</string>
		</dict>
		<dict>
			<key>english</key>
			<string>and</string>
			<key>pinyin</key>
			<string>hé</string>
			<key>hanzi</key>
			<string>和</string>
		</dict>
		<dict>
			<key>english</key>
			<string>a little</string>
			<key>pinyin</key>
			<string>yī diǎn</string>
			<key>hanzi</key>
			<string>一点</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Where do you come from?</string>
			<key>pinyin</key>
			<string>nǐ cóng nǎ lǐ lái</string>
			<key>hanzi</key>
			<string>你从哪里来</string>
		</dict>
		<dict>
			<key>english</key>
			<string>year</string>
			<key>pinyin</key>
			<string>nián</string>
			<key>hanzi</key>
			<string>年</string>
		</dict>
		<dict>
			<key>english</key>
			<string>happy new year</string>
			<key>pinyin</key>
			<string>xiān nián kuài le</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>where</string>
			<key>pinyin</key>
			<string>nǎ lǐ</string>
			<key>hanzi</key>
			<string>哪里</string>
		</dict>
	</array>
</dict>
</plist>
