<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 9</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>to want</string>
			<key>pinyin</key>
			<string>yào</string>
			<key>hanzi</key>
			<string>要</string>
		</dict>
		<dict>
			<key>english</key>
			<string>strawberry</string>
			<key>pinyin</key>
			<string>cǎo méi</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>altogether</string>
			<key>pinyin</key>
			<string>yí gòng</string>
			<key>hanzi</key>
			<string>一共</string>
		</dict>
		<dict>
			<key>english</key>
			<string>onion</string>
			<key>pinyin</key>
			<string>yáng cōng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>tomato</string>
			<key>pinyin</key>
			<string>xī hóng shì</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>mushroom</string>
			<key>pinyin</key>
			<string>mó gu</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>carrot</string>
			<key>pinyin</key>
			<string>hú luó bo</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>cucumber</string>
			<key>pinyin</key>
			<string>huáng gua</string>
			<key>hanzi</key>
			<string>黄瓜</string>
		</dict>
		<dict>
			<key>english</key>
			<string>what</string>
			<key>pinyin</key>
			<string>shén me</string>
			<key>hanzi</key>
			<string>什么</string>
		</dict>
		<dict>
			<key>english</key>
			<string>beer</string>
			<key>pinyin</key>
			<string>pí jǔ</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>milk</string>
			<key>pinyin</key>
			<string>niú nǎi</string>
			<key>hanzi</key>
			<string>牛奶</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bread</string>
			<key>pinyin</key>
			<string>miàn bāo</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>orange</string>
			<key>pinyin</key>
			<string>chéng zi</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>litchi</string>
			<key>pinyin</key>
			<string>lì zhi</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>grapes</string>
			<key>pinyin</key>
			<string>pú táo</string>
			<key>hanzi</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
