<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 10</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>how much</string>
			<key>pinyin</key>
			<string>zěn me mà、mǎi</string>
			<key>hanzi</key>
			<string>怎么买</string>
		</dict>
		<dict>
			<key>english</key>
			<string>too expensive</string>
			<key>pinyin</key>
			<string>tài guì le</string>
			<key>hanzi</key>
			<string>太贵了</string>
		</dict>
		<dict>
			<key>english</key>
			<string>don&apos;t have</string>
			<key>pinyin</key>
			<string>méi yǒu</string>
			<key>hanzi</key>
			<string>没有</string>
		</dict>
		<dict>
			<key>english</key>
			<string>clothes meassure</string>
			<key>pinyin</key>
			<string>jiàn</string>
			<key>hanzi</key>
			<string>件</string>
		</dict>
		<dict>
			<key>english</key>
			<string>shoes meassure</string>
			<key>pinyin</key>
			<string>shuàng</string>
			<key>hanzi</key>
			<string>双</string>
		</dict>
		<dict>
			<key>english</key>
			<string>pants/dresses meassure</string>
			<key>pinyin</key>
			<string>tiáo</string>
			<key>hanzi</key>
			<string>条</string>
		</dict>
		<dict>
			<key>english</key>
			<string>sentence</string>
			<key>pinyin</key>
			<string>jù zi</string>
			<key>hanzi</key>
			<string>句子</string>
		</dict>
	</array>
</dict>
</plist>
