<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 17</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>email</string>
			<key>pinyin</key>
			<string>yóu jiàn</string>
			<key>hanzi</key>
			<string>邮件</string>
		</dict>
		<dict>
			<key>english</key>
			<string>1 (in phone numbers)</string>
			<key>pinyin</key>
			<string>yāo</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>number</string>
			<key>pinyin</key>
			<string>hào</string>
			<key>hanzi</key>
			<string>号</string>
		</dict>
		<dict>
			<key>english</key>
			<string>room</string>
			<key>pinyin</key>
			<string>shì</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>post code</string>
			<key>pinyin</key>
			<string>yóu biān</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>to send</string>
			<key>pinyin</key>
			<string>fā</string>
			<key>hanzi</key>
			<string>发</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to call</string>
			<key>pinyin</key>
			<string>dǎ</string>
			<key>hanzi</key>
			<string>打</string>
		</dict>
		<dict>
			<key>english</key>
			<string>please wait</string>
			<key>pinyin</key>
			<string>qǐng děng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>mobile phone</string>
			<key>pinyin</key>
			<string>shǒu jī</string>
			<key>hanzi</key>
			<string>手机</string>
		</dict>
		<dict>
			<key>english</key>
			<string>address</string>
			<key>pinyin</key>
			<string>dì zhǐ</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>street</string>
			<key>pinyin</key>
			<string>jiē</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>road</string>
			<key>pinyin</key>
			<string>lù</string>
			<key>hanzi</key>
			<string>路</string>
		</dict>
		<dict>
			<key>english</key>
			<string>telephone</string>
			<key>pinyin</key>
			<string>diàn huà</string>
			<key>hanzi</key>
			<string>电话</string>
		</dict>
		<dict>
			<key>english</key>
			<string>floor</string>
			<key>pinyin</key>
			<string>lóu</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>sms</string>
			<key>pinyin</key>
			<string>duǎn xìn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>hello (on phone)</string>
			<key>pinyin</key>
			<string>wèi</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>to look for</string>
			<key>pinyin</key>
			<string>zhǎo</string>
			<key>hanzi</key>
			<string>找</string>
		</dict>
		<dict>
			<key>english</key>
			<string>exactly</string>
			<key>pinyin</key>
			<string>jiù</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>wrong</string>
			<key>pinyin</key>
			<string>cuò</string>
			<key>hanzi</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
