<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 8</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>to sell</string>
			<key>pinyin</key>
			<string>mài</string>
			<key>hanzi</key>
			<string>卖</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to buy</string>
			<key>pinyin</key>
			<string>mǎi</string>
			<key>hanzi</key>
			<string>买</string>
		</dict>
		<dict>
			<key>english</key>
			<string>half kilo</string>
			<key>pinyin</key>
			<string>jīn</string>
			<key>hanzi</key>
			<string>斤</string>
		</dict>
		<dict>
			<key>english</key>
			<string>kilo</string>
			<key>pinyin</key>
			<string>gōng jīn</string>
			<key>hanzi</key>
			<string>公斤</string>
		</dict>
		<dict>
			<key>english</key>
			<string>fruit</string>
			<key>pinyin</key>
			<string>shuǐ guǒ</string>
			<key>hanzi</key>
			<string>水果</string>
		</dict>
		<dict>
			<key>english</key>
			<string>grass</string>
			<key>pinyin</key>
			<string>cǎo</string>
			<key>hanzi</key>
			<string>草</string>
		</dict>
		<dict>
			<key>english</key>
			<string>banana</string>
			<key>pinyin</key>
			<string>xiāng jiāo</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>pear</string>
			<key>pinyin</key>
			<string>lí</string>
			<key>hanzi</key>
			<string>梨</string>
		</dict>
		<dict>
			<key>english</key>
			<string>watermelon</string>
			<key>pinyin</key>
			<string>xī guā</string>
			<key>hanzi</key>
			<string>西瓜</string>
		</dict>
		<dict>
			<key>english</key>
			<string>mango</string>
			<key>pinyin</key>
			<string>máng guǒ</string>
			<key>hanzi</key>
			<string>芒果</string>
		</dict>
		<dict>
			<key>english</key>
			<string>pineapple</string>
			<key>pinyin</key>
			<string>bō luó</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>lemon</string>
			<key>pinyin</key>
			<string>níng méng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>apple</string>
			<key>pinyin</key>
			<string>píng guǒ</string>
			<key>hanzi</key>
			<string>苹果</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bottle</string>
			<key>pinyin</key>
			<string>píng</string>
			<key>hanzi</key>
			<string>瓶</string>
		</dict>
		<dict>
			<key>english</key>
			<string>cup</string>
			<key>pinyin</key>
			<string>bēi</string>
			<key>hanzi</key>
			<string>杯</string>
		</dict>
		<dict>
			<key>english</key>
			<string>general counter</string>
			<key>pinyin</key>
			<string>gè</string>
			<key>hanzi</key>
			<string>个</string>
		</dict>
	</array>
</dict>
</plist>
