<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 6</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>birthday</string>
			<key>pinyin</key>
			<string>shēng rì</string>
			<key>hanzi</key>
			<string>生日</string>
		</dict>
		<dict>
			<key>english</key>
			<string>new year</string>
			<key>pinyin</key>
			<string>xīn nián</string>
			<key>hanzi</key>
			<string>新年</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to go to</string>
			<key>pinyin</key>
			<string>qù</string>
			<key>hanzi</key>
			<string>去</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to come back</string>
			<key>pinyin</key>
			<string>húi lái</string>
			<key>hanzi</key>
			<string>回来</string>
		</dict>
		<dict>
			<key>english</key>
			<string>sea</string>
			<key>pinyin</key>
			<string>hǎi</string>
			<key>hanzi</key>
			<string>海</string>
		</dict>
		<dict>
			<key>english</key>
			<string>what day</string>
			<key>pinyin</key>
			<string>jǐ hǎo</string>
			<key>hanzi</key>
			<string>几号</string>
		</dict>
		<dict>
			<key>english</key>
			<string>what weekday</string>
			<key>pinyin</key>
			<string>xīng qī jǐ</string>
			<key>hanzi</key>
			<string>星期几</string>
		</dict>
		<dict>
			<key>english</key>
			<string>what month and day</string>
			<key>pinyin</key>
			<string>jǐ yuè jǐ hào</string>
			<key>hanzi</key>
			<string>几月几号</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Beijing</string>
			<key>pinyin</key>
			<string>běi jīng</string>
			<key>hanzi</key>
			<string>北京</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Shanghai</string>
			<key>pinyin</key>
			<string>shàng hǎi</string>
			<key>hanzi</key>
			<string>上海</string>
		</dict>
		<dict>
			<key>english</key>
			<string>today</string>
			<key>pinyin</key>
			<string>jīn tiān</string>
			<key>hanzi</key>
			<string>今天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>yesterday</string>
			<key>pinyin</key>
			<string>zuó tiān</string>
			<key>hanzi</key>
			<string>昨天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>tomorrow</string>
			<key>pinyin</key>
			<string>míng tiān</string>
			<key>hanzi</key>
			<string>明天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>after tomorrow</string>
			<key>pinyin</key>
			<string>qián tiān</string>
			<key>hanzi</key>
			<string>前天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>before yesterday</string>
			<key>pinyin</key>
			<string>hòu tiān</string>
			<key>hanzi</key>
			<string>后天</string>
		</dict>
		<dict>
			<key>english</key>
			<string>this week</string>
			<key>pinyin</key>
			<string>zhè xīng qī</string>
			<key>hanzi</key>
			<string>这星期</string>
		</dict>
		<dict>
			<key>english</key>
			<string>next week</string>
			<key>pinyin</key>
			<string>xià xīng qī</string>
			<key>hanzi</key>
			<string>下星期</string>
		</dict>
		<dict>
			<key>english</key>
			<string>last week</string>
			<key>pinyin</key>
			<string>shàng xīng qī</string>
			<key>hanzi</key>
			<string>上星期</string>
		</dict>
		<dict>
			<key>english</key>
			<string>this month</string>
			<key>pinyin</key>
			<string>zhè ge yuè</string>
			<key>hanzi</key>
			<string>这个月</string>
		</dict>
		<dict>
			<key>english</key>
			<string>last month</string>
			<key>pinyin</key>
			<string>shàng ge yuè</string>
			<key>hanzi</key>
			<string>上个月</string>
		</dict>
		<dict>
			<key>english</key>
			<string>next month</string>
			<key>pinyin</key>
			<string>xià ge yuè</string>
			<key>hanzi</key>
			<string>下个月</string>
		</dict>
		<dict>
			<key>english</key>
			<string>this year</string>
			<key>pinyin</key>
			<string>jīn nián</string>
			<key>hanzi</key>
			<string>今年</string>
		</dict>
		<dict>
			<key>english</key>
			<string>next year</string>
			<key>pinyin</key>
			<string>míng nián</string>
			<key>hanzi</key>
			<string>明年</string>
		</dict>
		<dict>
			<key>english</key>
			<string>last year</string>
			<key>pinyin</key>
			<string>qù nián</string>
			<key>hanzi</key>
			<string>去年</string>
		</dict>
	</array>
</dict>
</plist>
