<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 2</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>one</string>
			<key>pinyin</key>
			<string>yī</string>
			<key>hanzi</key>
			<string>一</string>
		</dict>
		<dict>
			<key>english</key>
			<string>two</string>
			<key>pinyin</key>
			<string>èr</string>
			<key>hanzi</key>
			<string>二</string>
		</dict>
		<dict>
			<key>english</key>
			<string>three</string>
			<key>pinyin</key>
			<string>sān</string>
			<key>hanzi</key>
			<string>三</string>
		</dict>
		<dict>
			<key>english</key>
			<string>four</string>
			<key>pinyin</key>
			<string>sì</string>
			<key>hanzi</key>
			<string>四</string>
		</dict>
		<dict>
			<key>english</key>
			<string>five</string>
			<key>pinyin</key>
			<string>wǔ</string>
			<key>hanzi</key>
			<string>五</string>
		</dict>
		<dict>
			<key>english</key>
			<string>six</string>
			<key>pinyin</key>
			<string>liù</string>
			<key>hanzi</key>
			<string>六</string>
		</dict>
		<dict>
			<key>english</key>
			<string>seven</string>
			<key>pinyin</key>
			<string>qī</string>
			<key>hanzi</key>
			<string>七</string>
		</dict>
		<dict>
			<key>english</key>
			<string>eight</string>
			<key>pinyin</key>
			<string>bā</string>
			<key>hanzi</key>
			<string>八</string>
		</dict>
		<dict>
			<key>english</key>
			<string>nine</string>
			<key>pinyin</key>
			<string>jiǔ</string>
			<key>hanzi</key>
			<string>九</string>
		</dict>
		<dict>
			<key>english</key>
			<string>ten</string>
			<key>pinyin</key>
			<string>shí</string>
			<key>hanzi</key>
			<string>十</string>
		</dict>
		<dict>
			<key>english</key>
			<string>zero</string>
			<key>pinyin</key>
			<string>líng</string>
			<key>hanzi</key>
			<string>零</string>
		</dict>
		<dict>
			<key>english</key>
			<string>hundred</string>
			<key>pinyin</key>
			<string>bǎi</string>
			<key>hanzi</key>
			<string>百</string>
		</dict>
		<dict>
			<key>english</key>
			<string>thousand</string>
			<key>pinyin</key>
			<string>qiān</string>
			<key>hanzi</key>
			<string>千</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to know</string>
			<key>pinyin</key>
			<string>rèn shí</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>very</string>
			<key>pinyin</key>
			<string>hěn</string>
			<key>hanzi</key>
			<string>很</string>
		</dict>
		<dict>
			<key>english</key>
			<string>happy</string>
			<key>pinyin</key>
			<string>gāo xìng</string>
			<key>hanzi</key>
			<string>高兴</string>
		</dict>
		<dict>
			<key>english</key>
			<string>also</string>
			<key>pinyin</key>
			<string>yě</string>
			<key>hanzi</key>
			<string>也</string>
		</dict>
		<dict>
			<key>english</key>
			<string>surname</string>
			<key>pinyin</key>
			<string>xìng</string>
			<key>hanzi</key>
			<string>姓</string>
		</dict>
		<dict>
			<key>english</key>
			<string>honorable surname</string>
			<key>pinyin</key>
			<string>guì xìng</string>
			<key>hanzi</key>
			<string>贵姓</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Mr.</string>
			<key>pinyin</key>
			<string>xiān shēng</string>
			<key>hanzi</key>
			<string>先生</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Miss</string>
			<key>pinyin</key>
			<string>xiǎo jiě</string>
			<key>hanzi</key>
			<string>小姐</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Ms.</string>
			<key>pinyin</key>
			<string>nǚ shì</string>
			<key>hanzi</key>
			<string>女士</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Mrs.</string>
			<key>pinyin</key>
			<string>tài tai</string>
			<key>hanzi</key>
			<string>太太</string>
		</dict>
		<dict>
			<key>english</key>
			<string>may ask</string>
			<key>pinyin</key>
			<string>qǐng wèn</string>
			<key>hanzi</key>
			<string>请问</string>
		</dict>
		<dict>
			<key>english</key>
			<string>what</string>
			<key>pinyin</key>
			<string>shén me</string>
			<key>hanzi</key>
			<string>什么</string>
		</dict>
		<dict>
			<key>english</key>
			<string>name</string>
			<key>pinyin</key>
			<string>míng zì</string>
			<key>hanzi</key>
			<string>名字</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Chiense character</string>
			<key>pinyin</key>
			<string>hàn zì</string>
			<key>hanzi</key>
			<string>汉字</string>
		</dict>
		<dict>
			<key>english</key>
			<string>country</string>
			<key>pinyin</key>
			<string>guó</string>
			<key>hanzi</key>
			<string>国</string>
		</dict>
	</array>
</dict>
</plist>
