<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 16</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>many</string>
			<key>pinyin</key>
			<string>duō</string>
			<key>hanzi</key>
			<string>多</string>
		</dict>
		<dict>
			<key>english</key>
			<string>few</string>
			<key>pinyin</key>
			<string>shǎo</string>
			<key>hanzi</key>
			<string>少</string>
		</dict>
		<dict>
			<key>english</key>
			<string>how many?</string>
			<key>pinyin</key>
			<string>duō shǎo</string>
			<key>hanzi</key>
			<string>多少</string>
		</dict>
		<dict>
			<key>english</key>
			<string>how old are you?</string>
			<key>pinyin</key>
			<string>nǐ duō dà</string>
			<key>hanzi</key>
			<string>你多大</string>
		</dict>
		<dict>
			<key>english</key>
			<string>big</string>
			<key>pinyin</key>
			<string>dà</string>
			<key>hanzi</key>
			<string>大</string>
		</dict>
		<dict>
			<key>english</key>
			<string>small</string>
			<key>pinyin</key>
			<string>xiǎo</string>
			<key>hanzi</key>
			<string>小</string>
		</dict>
		<dict>
			<key>english</key>
			<string>skinny</string>
			<key>pinyin</key>
			<string>shòu</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>fat</string>
			<key>pinyin</key>
			<string>pàng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>cold</string>
			<key>pinyin</key>
			<string>lěng</string>
			<key>hanzi</key>
			<string>冷</string>
		</dict>
		<dict>
			<key>english</key>
			<string>hot</string>
			<key>pinyin</key>
			<string>rè</string>
			<key>hanzi</key>
			<string>热</string>
		</dict>
		<dict>
			<key>english</key>
			<string>new</string>
			<key>pinyin</key>
			<string>xīn</string>
			<key>hanzi</key>
			<string>新</string>
		</dict>
		<dict>
			<key>english</key>
			<string>old</string>
			<key>pinyin</key>
			<string>jiù</string>
			<key>hanzi</key>
			<string>旧</string>
		</dict>
		<dict>
			<key>english</key>
			<string>short</string>
			<key>pinyin</key>
			<string>duǎn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>long</string>
			<key>pinyin</key>
			<string>cháng</string>
			<key>hanzi</key>
			<string>长</string>
		</dict>
		<dict>
			<key>english</key>
			<string>heavy</string>
			<key>pinyin</key>
			<string>zhòng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>light</string>
			<key>pinyin</key>
			<string>qīng</string>
			<key>hanzi</key>
			<string>轻</string>
		</dict>
		<dict>
			<key>english</key>
			<string>deep/dark</string>
			<key>pinyin</key>
			<string>shēn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>shallow/light</string>
			<key>pinyin</key>
			<string>qiǎn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>tall</string>
			<key>pinyin</key>
			<string>gāo</string>
			<key>hanzi</key>
			<string>高</string>
		</dict>
		<dict>
			<key>english</key>
			<string>short</string>
			<key>pinyin</key>
			<string>ǎi</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>fast</string>
			<key>pinyin</key>
			<string>kuài</string>
			<key>hanzi</key>
			<string>快</string>
		</dict>
		<dict>
			<key>english</key>
			<string>slow</string>
			<key>pinyin</key>
			<string>màn</string>
			<key>hanzi</key>
			<string>慢</string>
		</dict>
		<dict>
			<key>english</key>
			<string>artist</string>
			<key>pinyin</key>
			<string>huà jiā</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>cute</string>
			<key>pinyin</key>
			<string>kě&apos;ài</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>smart</string>
			<key>pinyin</key>
			<string>cōng míng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>who</string>
			<key>pinyin</key>
			<string>shéi</string>
			<key>hanzi</key>
			<string>谁</string>
		</dict>
		<dict>
			<key>english</key>
			<string>age</string>
			<key>pinyin</key>
			<string>suì</string>
			<key>hanzi</key>
			<string>岁</string>
		</dict>
		<dict>
			<key>english</key>
			<string>beautiful</string>
			<key>pinyin</key>
			<string>piào liang</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>handsome</string>
			<key>pinyin</key>
			<string>shuài</string>
			<key>hanzi</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
