<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 13</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>to read</string>
			<key>pinyin</key>
			<string>kàn</string>
			<key>hanzi</key>
			<string>看</string>
		</dict>
		<dict>
			<key>english</key>
			<string>also</string>
			<key>pinyin</key>
			<string>hái</string>
			<key>hanzi</key>
			<string>还</string>
		</dict>
		<dict>
			<key>english</key>
			<string>list</string>
			<key>pinyin</key>
			<string>dān</string>
			<key>hanzi</key>
			<string>单</string>
		</dict>
		<dict>
			<key>english</key>
			<string>flower</string>
			<key>pinyin</key>
			<string>huā</string>
			<key>hanzi</key>
			<string>花</string>
		</dict>
		<dict>
			<key>english</key>
			<string>spicy</string>
			<key>pinyin</key>
			<string>là</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>tea</string>
			<key>pinyin</key>
			<string>chá</string>
			<key>hanzi</key>
			<string>茶</string>
		</dict>
		<dict>
			<key>english</key>
			<string>culture</string>
			<key>pinyin</key>
			<string>wén huà</string>
			<key>hanzi</key>
			<string>文化</string>
		</dict>
		<dict>
			<key>english</key>
			<string>juice</string>
			<key>pinyin</key>
			<string>zhī</string>
			<key>hanzi</key>
			<string>汁</string>
		</dict>
		<dict>
			<key>english</key>
			<string>wood</string>
			<key>pinyin</key>
			<string>mù</string>
			<key>hanzi</key>
			<string>木</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to do</string>
			<key>pinyin</key>
			<string>zuò</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>to read</string>
			<key>pinyin</key>
			<string>dú</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>page</string>
			<key>pinyin</key>
			<string>yè</string>
			<key>hanzi</key>
			<string>页</string>
		</dict>
		<dict>
			<key>english</key>
			<string>fast</string>
			<key>pinyin</key>
			<string>kuài</string>
			<key>hanzi</key>
			<string>快</string>
		</dict>
		<dict>
			<key>english</key>
			<string>slow</string>
			<key>pinyin</key>
			<string>màn</string>
			<key>hanzi</key>
			<string>慢</string>
		</dict>
		<dict>
			<key>english</key>
			<string>door</string>
			<key>pinyin</key>
			<string>mén</string>
			<key>hanzi</key>
			<string>门</string>
		</dict>
		<dict>
			<key>english</key>
			<string>mouth</string>
			<key>pinyin</key>
			<string>kǒu</string>
			<key>hanzi</key>
			<string>口</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to understand</string>
			<key>pinyin</key>
			<string>míng bái</string>
			<key>hanzi</key>
			<string>明白</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to like</string>
			<key>pinyin</key>
			<string>xǐ huān</string>
			<key>hanzi</key>
			<string>喜欢</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to listen</string>
			<key>pinyin</key>
			<string>tīng</string>
			<key>hanzi</key>
			<string>听</string>
		</dict>
		<dict>
			<key>english</key>
			<string>text</string>
			<key>pinyin</key>
			<string>kè wén</string>
			<key>hanzi</key>
			<string>课文</string>
		</dict>
		<dict>
			<key>english</key>
			<string>tone</string>
			<key>pinyin</key>
			<string>shēng</string>
			<key>hanzi</key>
			<string>声</string>
		</dict>
		<dict>
			<key>english</key>
			<string>that&apos;s right</string>
			<key>pinyin</key>
			<string>duì</string>
			<key>hanzi</key>
			<string>对</string>
		</dict>
	</array>
</dict>
</plist>
