<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 7</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>£</string>
			<key>pinyin</key>
			<string>yīng bàng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>$</string>
			<key>pinyin</key>
			<string>měi yuán</string>
			<key>hanzi</key>
			<string>美元</string>
		</dict>
		<dict>
			<key>english</key>
			<string>€</string>
			<key>pinyin</key>
			<string>oú yuán</string>
			<key>hanzi</key>
			<string>欧元</string>
		</dict>
		<dict>
			<key>english</key>
			<string>¥</string>
			<key>pinyin</key>
			<string>rén mín bì</string>
			<key>hanzi</key>
			<string>人民币</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Europe</string>
			<key>pinyin</key>
			<string>ōu zhōu</string>
			<key>hanzi</key>
			<string>欧洲</string>
		</dict>
		<dict>
			<key>english</key>
			<string>continent</string>
			<key>pinyin</key>
			<string>zhōu</string>
			<key>hanzi</key>
			<string>洲</string>
		</dict>
		<dict>
			<key>english</key>
			<string>currency</string>
			<key>pinyin</key>
			<string>bì</string>
			<key>hanzi</key>
			<string>币</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Unit 1.00</string>
			<key>pinyin</key>
			<string>kuài</string>
			<key>hanzi</key>
			<string>块</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Unit 0.10</string>
			<key>pinyin</key>
			<string>máo</string>
			<key>hanzi</key>
			<string>毛</string>
		</dict>
		<dict>
			<key>english</key>
			<string>Unit 0.01</string>
			<key>pinyin</key>
			<string>fēn</string>
			<key>hanzi</key>
			<string>分</string>
		</dict>
		<dict>
			<key>english</key>
			<string>How much does it cost?</string>
			<key>pinyin</key>
			<string>duō shǎo qián</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>much</string>
			<key>pinyin</key>
			<string>duō</string>
			<key>hanzi</key>
			<string>多</string>
		</dict>
		<dict>
			<key>english</key>
			<string>little</string>
			<key>pinyin</key>
			<string>shǎo</string>
			<key>hanzi</key>
			<string>少</string>
		</dict>
		<dict>
			<key>english</key>
			<string>money</string>
			<key>pinyin</key>
			<string>qián</string>
			<key>hanzi</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
