<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lesson 15</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>big hotel/restaurant</string>
			<key>pinyin</key>
			<string>fàn diàn</string>
			<key>hanzi</key>
			<string>饭店</string>
		</dict>
		<dict>
			<key>english</key>
			<string>smaller hotel/restaurant</string>
			<key>pinyin</key>
			<string>jiǔ diàn</string>
			<key>hanzi</key>
			<string>酒店</string>
		</dict>
		<dict>
			<key>english</key>
			<string>embassy</string>
			<key>pinyin</key>
			<string>dà shǐ guǎn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>hospital</string>
			<key>pinyin</key>
			<string>yī yuàn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>company</string>
			<key>pinyin</key>
			<string>gōng sī</string>
			<key>hanzi</key>
			<string>公司</string>
		</dict>
		<dict>
			<key>english</key>
			<string>hotel</string>
			<key>pinyin</key>
			<string>bīn guǎn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>museum</string>
			<key>pinyin</key>
			<string>bó wù guǎn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>library</string>
			<key>pinyin</key>
			<string>tú shū guǎn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>goverment</string>
			<key>pinyin</key>
			<string>zhèng fǔ</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>office</string>
			<key>pinyin</key>
			<string>bàn gōng shì</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>computer</string>
			<key>pinyin</key>
			<string>diàn nǎo</string>
			<key>hanzi</key>
			<string>电脑</string>
		</dict>
		<dict>
			<key>english</key>
			<string>power station</string>
			<key>pinyin</key>
			<string>diàn zhàn</string>
			<key>hanzi</key>
			<string>电站</string>
		</dict>
		<dict>
			<key>english</key>
			<string>retired</string>
			<key>pinyin</key>
			<string>tuì xiū le</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>railway</string>
			<key>pinyin</key>
			<string>tiě lù</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>technician</string>
			<key>pinyin</key>
			<string>jì shu yuán</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>character</string>
			<key>pinyin</key>
			<string>hàn zì</string>
			<key>hanzi</key>
			<string>汉字</string>
		</dict>
		<dict>
			<key>english</key>
			<string>word</string>
			<key>pinyin</key>
			<string>cí</string>
			<key>hanzi</key>
			<string>词</string>
		</dict>
		<dict>
			<key>english</key>
			<string>sentence</string>
			<key>pinyin</key>
			<string>jù zi</string>
			<key>hanzi</key>
			<string>句子</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to work</string>
			<key>pinyin</key>
			<string>gōng zuò</string>
			<key>hanzi</key>
			<string>工作</string>
		</dict>
		<dict>
			<key>english</key>
			<string>book</string>
			<key>pinyin</key>
			<string>shū</string>
			<key>hanzi</key>
			<string>书</string>
		</dict>
		<dict>
			<key>english</key>
			<string>wide/open</string>
			<key>pinyin</key>
			<string>guǎng</string>
			<key>hanzi</key>
			<string>广</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to occupy/take over</string>
			<key>pinyin</key>
			<string>zhàn</string>
			<key>hanzi</key>
			<string>占</string>
		</dict>
		<dict>
			<key>english</key>
			<string>manager</string>
			<key>pinyin</key>
			<string>jīng lǐ</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>banker</string>
			<key>pinyin</key>
			<string>yín háng jiā</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>dentist</string>
			<key>pinyin</key>
			<string>yá yī</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>bookshop</string>
			<key>pinyin</key>
			<string>shū diàn</string>
			<key>hanzi</key>
			<string>书店</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bank</string>
			<key>pinyin</key>
			<string>yín háng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>law firm</string>
			<key>pinyin</key>
			<string>lǜ shī háng</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>shop</string>
			<key>pinyin</key>
			<string>shāng diàn</string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string>factory</string>
			<key>pinyin</key>
			<string>gōng chǎng</string>
			<key>hanzi</key>
			<string>工厂</string>
		</dict>
	</array>
</dict>
</plist>
