<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Read 1</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>river</string>
			<key>pinyin</key>
			<string>hé</string>
			<key>hanzi</key>
			<string>河</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bag</string>
			<key>pinyin</key>
			<string>dài</string>
			<key>hanzi</key>
			<string>袋</string>
		</dict>
		<dict>
			<key>english</key>
			<string>food</string>
			<key>pinyin</key>
			<string>liáng shí</string>
			<key>hanzi</key>
			<string>粮食</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to carry</string>
			<key>pinyin</key>
			<string>sòng</string>
			<key>hanzi</key>
			<string>送</string>
		</dict>
		<dict>
			<key>english</key>
			<string>village</string>
			<key>pinyin</key>
			<string>cūn zi</string>
			<key>hanzi</key>
			<string>村子</string>
		</dict>
		<dict>
			<key>english</key>
			<string>shore</string>
			<key>pinyin</key>
			<string>àn</string>
			<key>hanzi</key>
			<string>岸</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to promise</string>
			<key>pinyin</key>
			<string>dā yīng</string>
			<key>hanzi</key>
			<string>答应</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to carry</string>
			<key>pinyin</key>
			<string>tuó</string>
			<key>hanzi</key>
			<string>驮</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to walk through water</string>
			<key>pinyin</key>
			<string>tǎng</string>
			<key>hanzi</key>
			<string>淌</string>
		</dict>
		<dict>
			<key>english</key>
			<string>deep</string>
			<key>pinyin</key>
			<string>shēn</string>
			<key>hanzi</key>
			<string>深</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to raise</string>
			<key>pinyin</key>
			<string>tái</string>
			<key>hanzi</key>
			<string>抬</string>
		</dict>
		<dict>
			<key>english</key>
			<string>just now/in the process</string>
			<key>pinyin</key>
			<string>zhèng zài</string>
			<key>hanzi</key>
			<string>正在</string>
		</dict>
		<dict>
			<key>english</key>
			<string>far away</string>
			<key>pinyin</key>
			<string>yuǎn chú</string>
			<key>hanzi</key>
			<string>远处</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to ask</string>
			<key>pinyin</key>
			<string>wèn</string>
			<key>hanzi</key>
			<string>问</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to know</string>
			<key>pinyin</key>
			<string>zhī dào</string>
			<key>hanzi</key>
			<string>知道</string>
		</dict>
		<dict>
			<key>english</key>
			<string>eye</string>
			<key>pinyin</key>
			<string>yǎn jīng</string>
			<key>hanzi</key>
			<string>眼睛</string>
		</dict>
		<dict>
			<key>english</key>
			<string>idea/plan</string>
			<key>pinyin</key>
			<string>zhǔ yì</string>
			<key>hanzi</key>
			<string>主意</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to think to oneself</string>
			<key>pinyin</key>
			<string>xīn xiǎng</string>
			<key>hanzi</key>
			<string>心想</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to cry</string>
			<key>pinyin</key>
			<string>kū</string>
			<key>hanzi</key>
			<string>哭</string>
		</dict>
		<dict>
			<key>english</key>
			<string>difficulty</string>
			<key>pinyin</key>
			<string>kùn nán</string>
			<key>hanzi</key>
			<string>困难</string>
		</dict>
		<dict>
			<key>english</key>
			<string>welcome</string>
			<key>pinyin</key>
			<string>huān yíng</string>
			<key>hanzi</key>
			<string>欢迎</string>
		</dict>
		<dict>
			<key>english</key>
			<string>step</string>
			<key>pinyin</key>
			<string>bù</string>
			<key>hanzi</key>
			<string>步</string>
		</dict>
		<dict>
			<key>english</key>
			<string>squirrel</string>
			<key>pinyin</key>
			<string>sōng shǔ</string>
			<key>hanzi</key>
			<string>松鼠</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to try</string>
			<key>pinyin</key>
			<string>shì</string>
			<key>hanzi</key>
			<string>试</string>
		</dict>
	</array>
</dict>
</plist>
