<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Useful 3</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>week</string>
			<key>pinyin</key>
			<string>zhōu</string>
			<key>hanzi</key>
			<string>周</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to (hour)</string>
			<key>pinyin</key>
			<string>chà</string>
			<key>hanzi</key>
			<string>差</string>
		</dict>
		<dict>
			<key>english</key>
			<string>quarter</string>
			<key>pinyin</key>
			<string>kè</string>
			<key>hanzi</key>
			<string>刻</string>
		</dict>
		<dict>
			<key>english</key>
			<string>airport</string>
			<key>pinyin</key>
			<string>jī chǎng</string>
			<key>hanzi</key>
			<string>机场</string>
		</dict>
		<dict>
			<key>english</key>
			<string>tv</string>
			<key>pinyin</key>
			<string>diàn shì</string>
			<key>hanzi</key>
			<string>电视</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to learn</string>
			<key>pinyin</key>
			<string>xué xí</string>
			<key>hanzi</key>
			<string>学习</string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
		<dict>
			<key>english</key>
			<string></string>
			<key>pinyin</key>
			<string></string>
			<key>hanzi</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
