<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Useful 1</string>
	<key>words</key>
	<array>
		<dict>
			<key>english</key>
			<string>left</string>
			<key>pinyin</key>
			<string>zuǒ</string>
			<key>hanzi</key>
			<string>左</string>
		</dict>
		<dict>
			<key>english</key>
			<string>right</string>
			<key>pinyin</key>
			<string>yòu</string>
			<key>hanzi</key>
			<string>右</string>
		</dict>
		<dict>
			<key>english</key>
			<string>south</string>
			<key>pinyin</key>
			<string>nán</string>
			<key>hanzi</key>
			<string>南</string>
		</dict>
		<dict>
			<key>english</key>
			<string>front</string>
			<key>pinyin</key>
			<string>qián</string>
			<key>hanzi</key>
			<string>前</string>
		</dict>
		<dict>
			<key>english</key>
			<string>back</string>
			<key>pinyin</key>
			<string>hòu</string>
			<key>hanzi</key>
			<string>后</string>
		</dict>
		<dict>
			<key>english</key>
			<string>currently</string>
			<key>pinyin</key>
			<string>mù qián</string>
			<key>hanzi</key>
			<string>目前</string>
		</dict>
		<dict>
			<key>english</key>
			<string>mail</string>
			<key>pinyin</key>
			<string>yóu jiàn</string>
			<key>hanzi</key>
			<string>邮件</string>
		</dict>
		<dict>
			<key>english</key>
			<string>bluetooth</string>
			<key>pinyin</key>
			<string>lán yá</string>
			<key>hanzi</key>
			<string>蓝牙</string>
		</dict>
		<dict>
			<key>english</key>
			<string>map</string>
			<key>pinyin</key>
			<string>dì tú</string>
			<key>hanzi</key>
			<string>地图</string>
		</dict>
		<dict>
			<key>english</key>
			<string>camera</string>
			<key>pinyin</key>
			<string>xiàng jī</string>
			<key>hanzi</key>
			<string>相机</string>
		</dict>
		<dict>
			<key>english</key>
			<string>photos</string>
			<key>pinyin</key>
			<string>zhào piàn</string>
			<key>hanzi</key>
			<string>照片</string>
		</dict>
		<dict>
			<key>english</key>
			<string>calendar</string>
			<key>pinyin</key>
			<string>rì lì</string>
			<key>hanzi</key>
			<string>日历</string>
		</dict>
		<dict>
			<key>english</key>
			<string>message</string>
			<key>pinyin</key>
			<string>xìn xī</string>
			<key>hanzi</key>
			<string>信息</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to cancel</string>
			<key>pinyin</key>
			<string>qǔ xiāo</string>
			<key>hanzi</key>
			<string>取消</string>
		</dict>
		<dict>
			<key>english</key>
			<string>world</string>
			<key>pinyin</key>
			<string>shì jiè</string>
			<key>hanzi</key>
			<string>世界</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to start</string>
			<key>pinyin</key>
			<string>kāi shǐ</string>
			<key>hanzi</key>
			<string>开始</string>
		</dict>
		<dict>
			<key>english</key>
			<string>password</string>
			<key>pinyin</key>
			<string>mì mǎ</string>
			<key>hanzi</key>
			<string>密码</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to enter</string>
			<key>pinyin</key>
			<string>shū rù</string>
			<key>hanzi</key>
			<string>输入</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to carry out</string>
			<key>pinyin</key>
			<string>wán chéng</string>
			<key>hanzi</key>
			<string>完成</string>
		</dict>
		<dict>
			<key>english</key>
			<string>to delete</string>
			<key>pinyin</key>
			<string>shān chú</string>
			<key>hanzi</key>
			<string>删除</string>
		</dict>
		<dict>
			<key>english</key>
			<string>settings</string>
			<key>pinyin</key>
			<string>shè zhì</string>
			<key>hanzi</key>
			<string>设置</string>
		</dict>
		<dict>
			<key>english</key>
			<string>amount</string>
			<key>pinyin</key>
			<string>liàng</string>
			<key>hanzi</key>
			<string>量</string>
		</dict>
		<dict>
			<key>english</key>
			<string>battery</string>
			<key>pinyin</key>
			<string>diàn chí</string>
			<key>hanzi</key>
			<string>电池</string>
		</dict>
		<dict>
			<key>english</key>
			<string>common</string>
			<key>pinyin</key>
			<string>tōng yòng</string>
			<key>hanzi</key>
			<string>通用</string>
		</dict>
		<dict>
			<key>english</key>
			<string>clock</string>
			<key>pinyin</key>
			<string>shí zhōng</string>
			<key>hanzi</key>
			<string>时钟</string>
		</dict>
		<dict>
			<key>english</key>
			<string>trust</string>
			<key>pinyin</key>
			<string>xìn rèn</string>
			<key>hanzi</key>
			<string>信任</string>
		</dict>
		<dict>
			<key>english</key>
			<string>notification</string>
			<key>pinyin</key>
			<string>tōng zhī</string>
			<key>hanzi</key>
			<string>通知</string>
		</dict>
	</array>
</dict>
</plist>
